{% extends "bootstrap/base.html" %}
{% include "messages/messages.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<div style = "margin-top: 100px;" class = "container" >
        <h3>Todo List</h3>
        <hr>

        <form action="/add" method = "post">
            <div class="form-group">
                    <label for="formGroupExampleInput">Todo Başlık</label>
                    <input type="text" class="form-control" name = "title" id="formGroupExampleInput" placeholder="Todo Giriniz..."><br>
                    <button type = "submit" class="btn btn-danger">Ekle</button>
            </div>
            <hr>

        </form>
        {% if todos == [] %}
        <div class="alert alert-warning" role="alert">
                Herhangi bir todonuz bulunmuyor...
        </div>
        {% else %}
        <table class="table">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Todo Başlık</th>
                    <th scope="col">Todo Durum</th>
					<td><a href="/complete/{{todo.id}}" class ="btn btn-danger">Tamamla</a></td>
                    <td><a href="/delete/{{todo.id}}" class ="btn btn-danger">Sil</a></td>
                  </tr>
                </thead>
                <tbody>
                  {% for todo in todos %}
                  <tr>
                        <th scope="row">{{todo.id}}</th>
                        <td>{{todo.title}}</td>
                        {% if todo.complete == False %}
                        <td>Tamamlanmadı</td>
                        {% else %}
                        <td>Tamamlandı</td>
                        {% endif %}
                        
                        <td><a href="/complete/{{todo.id}}" class ="btn btn-danger">Tamamla</a></td>
                        <td><a href="/delete/{{todo.id}}" class ="btn btn-danger">Sil</a></td>
  
                    </tr>
                  {% endfor %}
                </tbody>
              </table>

        {% endif %}
{% endblock %}

    